.float-right{
    float: right;
}
mat-form-field{
    padding: 8px;
}
table{
    width: 100%;
}
mat-card{
    padding-bottom: 15px !important;
}
.pspn{
    margin-right: 30px;
    font-size: 22px;
}
.spn{
    font-weight: bold;
}