<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPassFromGroup">
        <mat-form-field appearance="fill" required>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="forgotPassFromGroup.controls.email.touched && forgotPassFromGroup.controls.email.invalid">
                <span *ngIf="forgotPassFromGroup.controls.email.errors.required">This field is mandatory</span>
                <span *ngIf="forgotPassFromGroup.controls.email.errors.pattern"> This field i invalid</span>
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(forgotPassFromGroup.valid && forgotPassFromGroup.dirty)"> Send Password
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>