<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <!-- <mat-icon>account_circle</mat-icon> -->
    <!-- <mat-icon><img [src]="pice"></mat-icon> -->
    <mat-icon> <img *ngIf="userInfo.role==='user'" src="{{pice}}">
        account_circle
    </mat-icon>
    <!-- <img *ngIf="userInfo.role==='admin'">
        <mat-icon>account_circle</mat-icon> -->


    <!-- <img src="../../../../assets/img/food1.jpg"> -->
    <!-- <img [src]="pice"> -->



</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item (click)="changePassword()">
        <mat-icon>password</mat-icon>Change Password
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Logout
    </button>

</mat-menu>